<div class="">
    <div id="containerRain" class="z-[5] fixed">
      <canvas class="top-0 left-0 w-screen h-screen z-[5]" id="canvas"></canvas>
    </div>
    <img
      src="/avila.jpg"
      alt="avila image"
      class="object-cover object-center w-screen h-screen fixed top-0 left-0 z-0"
    />
  </div>