---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagefind from "@components/PageFind.astro";
import { SITE } from "@consts";
import Rainy from "@components/Background.astro";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} | ${SITE.TITLE}`} description={description} />
  </head>
  <body>
    <Rainy />
    
    <div class="z-10 relative main-section text-white backdrop-blur-md bg-black/30">
      <Header />
      <main >
        <slot />
      
      </main>
      <Footer />
      <Pagefind />
    </div>
   
  
  </body>
</html>
